---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section>
				<h1>Demo</h1>
				<p>Select what you’d like to explore:</p>
				<ul>
					<li>
						<a href="/product/demo-product">View demo product</a>
					</li>
					<li>
						<a href="/cart">View demo cart page</a>
					</li>
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
